/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #343434; /* Azul del FC Barcelona */
}

h1 {
  font-size: 44px; /* Aumenta el tamaño de la letra */
  margin-bottom: 10px;
  color: #000;
}

h2 {
  font-size: 18px; /* Aumenta el tamaño de la letra */
  margin-bottom: 10px;
}

h3 {
  background-color: rgb(64, 64, 64);
  font-size: 25px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Estilos para la información personal */
.informacion-personal {
  margin-bottom: 20px;
}

.informacion-personal h2 {
  font-size: 22px;
  margin-bottom: 5px;
}

/* Estilos para la experiencia laboral */
.experiencia-laboral {
  margin-bottom: 20px;
}

.experiencia-laboral .trabajo {
  margin-bottom: 15px;
}

.experiencia-laboral .nombre {
  font-weight: bold;
  color: #fff4f4; /* Rojo del FC Barcelona */
  font-size: 24px; /* Aumenta el tamaño de la letra */
}

.experiencia-laboral .cargo {
  font-style: italic;
  color: #888;
}

.experiencia-laboral .fecha {
  font-size: 12px;
  color: #888;
}

.experiencia-laboral .descripcion {
  margin-top: 5px;
}

/* Estilos para la educación */
.educacion {
  margin-bottom: 20px;
}

.educacion .titulo {
  font-weight: bold;
  color: #fdf6f6; /* Rojo del FC Barcelona */
  font-size: 24px; /* Aumenta el tamaño de la letra */
}

.educacion .institucion {
  font-style: italic;
  color: #888;
  
}

.educacion .fecha {
  font-size: 12px;
  color: #888;
}

/* Estilos para la cabecera y la navegación */
header {
  background-color: #fbfbfb; /* Azul del FC Barcelona */
  color: #fff;
  text-align: center;
}

nav {
  background-color: #000; /* Fondo negro */
  padding: 5px 0; /* Espaciado interno para la barra de navegación */
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 5px; /* Espaciado entre los elementos de navegación */
}

nav a {
  padding: 14px 16px;
  color: #fff;
  text-decoration: none;
  font-family: "Arial Black", Arial, sans-serif;
  font-size: 32px;
}

nav a:hover {
  background-color: dimgrey; /* Rojo del FC Barcelona */
}

.container {
  max-width: 1200px; /* Ancho máximo del contenido */
  margin: 0 auto; /* Centrar el contenido horizontalmente */
  padding: 20px; /* Espaciado interno del contenedor */
  background-color: #888;
}

.section {
  background-color: rgb(106, 106, 106);
  border-radius: 30px;
  margin: 5px;
}

/* Estilos para hacer la página responsive */
@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
  
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
  }
  
  nav a {
    background-color: orange;
  }

  .container {
    background-color: orange;
  }
  
  /* Hacer la imagen más grande en pantallas pequeñas */
  .imagen-responsive {
    max-width: 100%;
    height: auto;
  }
}